header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #022D21;
    padding: 15px;
    /* Ajusta según sea necesario */
    z-index: 1000;
    height: 35px;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 30%;
    max-height: 30%;
    /* Ajuste según sea necesario */
    width: auto;
    height: auto;
}

#palmasVisionContainer {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px; /* Ajusta el margen superior según sea necesario */
}

#palmas {
    color: #ffffff;
    font-size: 60px;
    font-family: 'GothamBlock', sans-serif;
}

#vision {
    color: #8EB523;
    font-size: 60px;
    /* Adjust the margin as needed */
    display: inline-block;
    /* Add this property to make it inline with the text */
    font-family: 'GothamBlock', sans-serif;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: #000;
    /* Color del texto dentro del botón */
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    /* Agregando transición suave */
}

.reportes-button .button-text,
.sabanas-button .button-text {
    font-family: 'GothamBlock', sans-serif;
    font-size: 20px;
    /* Tamaño del texto personalizado, ajusta según sea necesario */
}

.button:hover {
    background-color: #022D21;
    color: #ffffff;
}

@font-face {
    font-family: 'GothamBlock';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothamblack-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamBold';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothambold-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamBook';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothambook-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamLight';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothamlight-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s;
}

.loading-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Ajusta el tamaño y otros estilos según tus necesidades */
}

.loading-image img {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    margin: 0 auto;
    /* Añade este estilo para centrar horizontalmente */
    display: block;
    /* Añade esta línea para corregir el espacio en blanco adicional */
}

.loading-text {
    color: #ffffff;
    font-size: 24px;
    font-family: 'GothamBold', sans-serif;
    margin-bottom: 20px;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.801);
    border-radius: 50%;
    border-top: 4px solid #8FB623;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body.loading {
    overflow: hidden;
}

body.loading .loading-overlay {
    opacity: 0;
    transition: opacity 0.5s;
}