header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #022D21;
    padding: 15px;
    /* Ajusta según sea necesario */
    z-index: 1000;
    height: 35px;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 30%;
    max-height: 30%;
    /* Ajuste según sea necesario */
    width: auto;
    height: auto;
}

.column-container {
    margin-top: -20%;
    /* Puedes ajustar el valor según tus necesidades */
}

/* Estilo del grid-container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Columnas responsivas */
    gap: 30px;
    max-width: 700px;
    /* Máximo ancho para evitar que los elementos se expandan demasiado */
    margin: 0 auto;
    /* Centrar el grid-container horizontalmente */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    padding: 10px;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    height: 70px;
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.img-column {
    width: 100%;
    max-width: 100%;
}

.img-column img {
    max-width: 42%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
    max-height: 42%; /* Establece la altura máxima de la imagen al 100% del contenedor */
    width: auto;
    height: auto;
    border-radius: 25px;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}

.text-column {
    display: flex; /* Para alinear los párrafos dentro de la columna */
    flex-direction: column; /* Para que los párrafos se apilen verticalmente */
    align-items: flex-end; /* Alineación hacia el final del eje principal (derecha) */
    width: 60%; /* La columna del texto toma el resto del ancho disponible */
    
}

.text-column p {
    margin: 10px; /* Eliminar el margen predeterminado */
    font-size: 16px;

}

/* Estilo del texto dentro de los cuadros */
.grid-item p {
    color: #000;
    font-family: 'GothamBook', sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

/* Estilo del grid-item en estado de hover */
.grid-item:hover {
    background-color: #022D21;
    /* Cambia el color de fondo al hacer hover */
}

/* Estilo del texto dentro de los cuadros en estado de hover */
.grid-item:hover p {
    color: #fff;
    /* Cambia el color del texto al hacer hover */
}

.report-title-container {
    margin-bottom: 40px;
    /* Ajusta el valor según sea necesario */
}

.report-title-container h1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family: 'GothamBlock', sans-serif;
    margin-top: 20px;
    /* Ajusta el margen superior según sea necesario */
}

@font-face {
    font-family: 'GothamBlock';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothamblack-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s;
}

.loading-logo {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    margin: 0 auto;
    /* Añade este estilo para centrar horizontalmente */
    display: block;
    /* Añade esta línea para corregir el espacio en blanco adicional */
}

.loading-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Ajusta el tamaño y otros estilos según tus necesidades */
}

.loading-image img {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    margin: 0 auto;
    /* Añade este estilo para centrar horizontalmente */
    display: block;
    /* Añade esta línea para corregir el espacio en blanco adicional */
}

body.loading {
    overflow: hidden;
}

body.loading .loading-overlay {
    opacity: 0;
    transition: opacity 0.5s;
}

/* Estilo para el interruptor del menú (hamburguesa) */
.menu-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 4px;
    position: fixed;
    left: 15px;
    /* Cambia de "right" a "left" */
    z-index: 1002;
    /* Ajusta el valor según sea necesario para que esté por encima del menú móvil */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.mobile-menu {
    visibility: hidden;
    /* Cambiado a 'hidden' en lugar de 'none' */
    opacity: 0;
    position: fixed;
    top: 0;
    left: -49%;
    background-color: #022D21;
    width: 70%;
    height: 100vh;
    transition: transform 0.3s ease-in-out, visibility 0.3s, opacity 0.3s;
    /* Agregada transición para visibility y opacity */
}

.mobile-menu.active {
    visibility: visible;
    opacity: 1;
}

/* Estilo para el menú activo */
.mobile-menu.active {
    transform: translateX(70%);
    /* Desplaza el menú hacia afuera al estar activo */
}

.mobile-menu .mobile-item-titles {
    align-items: left;
    margin-left: 2.8%;
    text-align: left;
    /* Alinea el texto al centro */
    border-radius: 10px;
    width: 85%;
    padding: 10px;
    background-color: #3A3A3A;
    /* Alinea el texto a la izquierda */
}

.mobile-menu .mobile-item {
    align-items: left;
    margin-left: 3%;
    text-align: left;
    /* Alinea el texto al centro */
    border-radius: 10px;
    width: 85%;
    padding: 10px;
    /* Alinea el texto a la izquierda */
}

.mobile-item-titles {
    font-family: 'GothamBold', sans-serif; /* Ejemplo de fuente */
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF; /* Color de texto blanco */
    padding: 10px 0; /* Espaciado interno arriba y abajo */
}

.mobile-item-container a {
    text-decoration: none;
    color: #fff;
    font-family: 'GothamBook', sans-serif;
}

.mobile-item-container {
    margin-top: 80px;
    /* Ajusta según sea necesario */
}

.mobile-menu.active .mobile-item,
.mobile-menu.active .mobile-item-titles {
    margin-top: 0px;
    text-align: left;
}

@font-face {
    font-family: 'GothamBold';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothambold-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamBook';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothambook-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamLight';
    src: url('https://palmasvisionmobil.surge.sh/Fonts/gothamlight-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}